<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Exercises list</h1>

<a href="{% url 'ex1_x' %}">Exercise 1</a><br>
<br>
<a href="{% url 'ex2_x' %}">Exercise 2</a><br>
<br>
<a href="{% url 'ex3_x' %}">Exercise 3</a><br>
<br>
<a href="{% url 'ex4_x' %}">Exercise 4</a><br>
<br>
<a href="{% url 'ex5_x' %}">Exercise 5</a><br>
<br>
<a href="{% url 'ex6_x' %}">Exercise 6</a><br>
<br>
<a href="{% url 'ex7_x' %}">Exercise 7</a><br>
<br>
<a href="{% url 'ex9_x' %}">Exercise 9</a><br>
<br>
<a href="{% url 'ex10_x' %}">Exercise 10</a><br>
<br>
<a href="{% url 'ex11_x' %}">Exercise 11</a><br>
<br>
<a href="{% url 'ex12_x' %}">Exercise 12</a><br>
<br>
<a href="{% url 'ex13_x' %}">Exercise 13</a><br>
<br>
<a href="{% url 'ex17_x' %}">Exercise 17</a><br>
<br>
<a href="{% url 'ex18_x' %}">Exercise 18</a><br>


</body>
</html>