<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Matrices Ex2</h1>

<p>
    Declare uma matriz 5 x 5. Preencha com 1 a diagonal principal e com 0 <br>
    os demais elementos. Escreva ao final a matriz obtida.
</p>


{%if error %}
    {{ error }}
{%endif%}


<form action="" method="POST">
    {% csrf_token %}
    <label for="v1">Value 1</label>
    <input type="text" name="value1" id="v1" placeholder="Write just 1.">
    <br><br>

    <input type="submit">
</form>

<br><br>

    {%for i in matrices%}
        {{i}}<br>
    {%endfor%}

<br><br>

<a href="{% url 'home_matrices' %}">Back to list</a> <br>

</body>
</html>