<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Functions List </h1>


<h3><a href="/">Back to models</a></h3>

<br>

<a href="{% url 'functions_ex1_x' %}">Exercise 1</a><br><br>
<br>
<a href="{% url 'functions_ex2_x' %}">Exercise 2</a><br><br>
<br>
<a href="{% url 'functions_ex3_x' %}">Exercise 3</a><br><br>
<br>
<a href="{% url 'functions_ex6_x' %}">Exercise 6</a><br><br>
<br>
<a href="{% url 'functions_ex7_x' %}">Exercise 7</a><br><br>
<br>
<a href="{% url 'functions_ex8_x' %}">Exercise 8</a><br><br>
<br>
<a href="{% url 'functions_ex11_x' %}">Exercise 11</a><br><br>
<br>
<a href="{% url 'functions_ex12_x' %}">Exercise 12</a><br><br>

</body>
</html>