<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Ex 21</h1>

<p>
    Modifique o programa anterior (20), para não aceitar a entrada do número zero,<br>
    e requisitar a digitação de outro número neste caso.
</p>

{% if error %}
    <h3>{{error}}</h3>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <label for="v"></label>
    <input type="text" name="value" id="v">
    <input type="submit">

</form>
<br>

<h4>List: {{vet_list}}</h4>
<h4>Pair: {{par}}</h4>
<h4>Impar: {{imp}}</h4>

<br><br>

<a href="{% url 'home' %}">Back to list</a> <br>


</body>
</html>